:host {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;

  --liquid-switch-switch-background-color: #f5f5f5;
  --liquid-switch-switch-width: 40;
  --liquid-switch-switch-padding: 3;

  --liquid-switch-knob-color-on: #7eb30f;
  --liquid-switch-knob-color-off: #aeb5ae;
  --liquid-switch-knob-size: 16;

  /* privates */
  --scaleX: calc(var(--liquid-switch-switch-width) - var(--liquid-switch-knob-size));
  --translateX: calc((var(--liquid-switch-switch-width) - var(--liquid-switch-knob-size) - (var(--liquid-switch-switch-padding) * 2)) * 1px);
}

:host(.label-right) {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

:host([disabled]) .switch {
  opacity: 0.7;
  @apply(--liquid-switch-switch-disabled);
}

.switch {
  width: calc((var(--liquid-switch-switch-width)) * 1px);
  height: calc((var(--liquid-switch-knob-size) + (var(--liquid-switch-switch-padding) * 2)) * 1px);
  padding: calc(var(--liquid-switch-switch-padding) * 1px);
  box-sizing: border-box;
  background-color: var(--liquid-switch-switch-background-color);
  border-radius: var(--liquid-switch-border-radius, 10px);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background-color 160ms;
  opacity: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05),
              inset 0 -1px 0 rgba(255, 255, 255, 0.5),
              0 -1px 0 0px rgba(0, 0, 0, 0.1);
  @apply(--liquid-switch-bar);
}

.changed {
  opacity: 1;
}

.knob {
  width: 1px;
  height: calc(var(--liquid-switch-knob-size) * 1px);
  background-color: var(--liquid-switch-knob-color-off);
  position: absolute;
  left: calc((var(--liquid-switch-knob-size) / 2) * 1px);
  will-change: transition;
  transform-origin: center left;
  animation-duration: 320ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  transition: 180ms background-color 160ms;
  @apply(--liquid-switch-bar-inner);
}

.switch--on .knob {
  animation-name: move-right;
  background-color: var(--liquid-switch-knob-color-on);
}

.switch--off .knob {
  animation-name: move-left;
}

.switch::after,
.switch::before {
  content: "";
  width: calc(var(--liquid-switch-knob-size) * 1px);
  height: calc(var(--liquid-switch-knob-size) * 1px);
  border-radius: 50%;
  position: absolute;
  background-color: var(--liquid-switch-knob-color-off);
  transition: transform 160ms ease-in, 180ms background-color 160ms;
  will-change: transition;
  @apply(--liquid-switch-knob);
}

.switch--on::after,
.switch--on::before {
  transform: translateX(var(--translateX));
  background-color: var(--liquid-switch-knob-color-on);
}
.switch--on::after {
  transition-delay: 160ms, 180ms;
}

.switch--off::after,
.switch--off::before {
  transform: translateX(0);
}
.switch--off::before {
  transition-delay: 160ms, 180ms;
}



@keyframes move-right {
  0% {
    transform: scaleX(1) translateX(0);
  }
  50% {
    transform: scaleX(var(--scaleX));
  }
  100% {
    transform: scaleX(1) translateX(var(--translateX));
  }
}

@keyframes move-left {
  0% {
    transform: scaleX(1) translateX(var(--translateX));
  }
  50% {
    transform: scaleX(var(--scaleX));
  }
  100% {
    transform: scaleX(1) translateX(0);
  }
}
